html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 93%;
    background-color: rgba(216, 215, 215, 0.603);
}
#menuimg{
    position: absolute;
    left: 5%;
    width: 4.8%;
    height: 6%;
    background-image: url("../menu.png");
    background-size: cover;
    border: 0;
    outline: 0;
}
.topnav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7%;
    background-color: red;
}
.logo1{
    position: absolute;
    left: 12%;
    top: 2.3%;
}
#logo2{
    color: white;
    position: absolute;
    left: 47%;
    font-size: 2.5rem;
}
#mypageimg{
    position: absolute;
    right: 3%;
    top: 0.8%;
    width: 3%;
    height: 5%;
    background-image: url("../마이페이지사람.png");
    background-size: cover;
    background-color: red;
    border: 0;
    outline: 0;
}
.contents{
    text-align: center;
    align-items: center;
    border-radius: 9%;
    position: absolute;
    top: 15%;
    left: 14%;
    width: 75%;
    height: 70%;
    background-color:white;
    vertical-align: middle;
    position:absolute;
    left:0; 
    bottom:0;
    right:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cart_items{
    padding: 10%;
    border: 10%;
    text-align: center;
    align-items: center;
    top:50%; 
    left:50%;
    position:absolute;
    top:0; 
    left:0; 
    bottom:0; 
    right:0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.bottomnav{
    position: fixed;
    bottom: 0;
    height: 7%;
    width: 100%;
    align-items: center;
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.logo2{
    position: absolute;
    right: 8%;
}
.leftment{
    margin-left: 1%;
    padding-top: 0.5%;
}
.rightment{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 3%;
    padding-bottom:0%;
    align-items: center;
}
.ui{
    position: absolute;
    left: 16%;
    top: -10%;
}