html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 93%;
    background-color: rgba(128, 128, 128, 0.267);
}
#title{
    font-weight: bold;
    position: absolute;
    left: 41%;
    top: 4.5%;
    font-size: 2.8rem;
}
.contents{
    border-radius: 9%;
    position: absolute;
    top: 16%;
    width: 75%;
    height: 70%;
    background-color: white;
}
.bottomnav{
    position: fixed;
    bottom: 0;
    height: 7%;
    width: 100%;
    align-items: center;
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.logo2{
    position: absolute;
    right: 8%;
}
.leftment{
    margin-left: 1%;
    padding-top: 0.5%;
}
.rightment{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 3%;
    padding-bottom:0%;
    align-items: center;
}