html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
#menuimg{
    position: absolute;
    left: 5%;
    width: 5%;
    height: 7%;
    background-image: url("../menu.png");
    background-size: cover;
    border: 0;
    outline: 0;
}
.topnav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 7%;
    background-color: red;
}
.logo1{
    position: absolute;
    left: 12%;
    top: 2.3%;
}
#logo2{
    color: white;
    position: absolute;
    left: 47%;
    top: 1.1%;
    font-size: 2.5rem;
}
#basketimg{
    position: absolute;
    right: 3%;
    top: 1.3%;
    width: 3%;
    height: 5%;
    background-image: url("../장바구니.png");
    background-size: cover;
    background-color: red;
    border: 0;
    outline: 0;
}
.middlebox{
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{
    background-color: rgba(255, 192, 203, 0.562);
    width: 65%;
    height: 85%;
    border-radius: 7%;
}
.charactername{
    position: absolute;
    left: 46%;
    top: 39%;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
}
.email{
    position: absolute;
    left: 41%;
    top: 46%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
}
#mypagecharacter{
    position: relative;
    left: 40%;
    top: 5%;
}
.notice{
    width: 50%;
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 29%;
    top: 58%;
}
#emoji{
    margin-right: 10%;
}
.bottomnav{
    position: fixed;
    bottom: 0;
    height: 7%;
    width: 100%;
    align-items: center;
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.logo2{
    position: absolute;
    right: 8%;
}
.leftment{
    margin-left: 1%;
    padding-top: 0.5%;
}
.rightment{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 3%;
    padding-bottom:0%;
    align-items: center;
}
#emoji2{
    margin-right: 4%;
}
.noticement{
    font-size: 1.4rem;
    width: 100%;
    position: absolute;
    left: 30%;
    top: 77%;
}