body{
    margin: 0;
}
a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }
.container{
    width: 1430px;
    height: 820px;
    display: flex;
    flex-direction: column;
}
#menuimg{
    position: absolute;
    left: 60px;
    width: 70px;
    height: 58px;
    background-image: url("../menu.png");
    background-size: cover;
    border: 0;
    outline: 0;
}
.bottomnav{
    position: fixed;
    bottom: 0;
    height: 28px;
    width: 100%;
    color: white;
    font-weight: 2px;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.logo2{
    padding-top: 2px;
    position: absolute;
    right: 85px;
    bottom: -2px;
}
.leftment{
    margin-left: 10px;
    padding-top: 8px;
}
.rightment{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 10px;
    bottom: 2px;
}
.topnav{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 58px;
    background-color: red;
}
.logo1{
    width: 100px;
    height: 23px;
    position: absolute;
    left: 150px;
    top: 15px;
}
#logo2{
    color: white;
    position: absolute;
    left: 47%;
    top: 1.1%;
    font-size: 40px;
}
#basketimg{
    position: absolute;
    right: 40px;
    top: 5px;
    width: 60px;
    height: 48px;
    background-image: url("../장바구니.png");
    background-size: cover;
    background-color: red;
    border: 0;
    outline: 0;
}
.middlebox{
    width: 100%;
    height: 730px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contents{
    background-color: rgba(255, 192, 203, 0.562);
    width: 900px;
    height: 630px;
    border-radius: 7%;
}
#mypagecharacter{
    position: relative;
    
}