html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
}

a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


#menuimg{
    position: absolute;
    left: 8%;
    width: 3.8%;
    height: 5.5%;
    background-image: url("../menu.png");
    background-size: cover;
    border: 0;
    outline: 0;
}
.bottomnav{
    position: fixed;
    bottom: 0;
    height: 7%;
    width: 100%;
    align-items: center;
    color: white;
    background-color: red;
    display: flex;
    flex-direction: row;
}
.logo2{
    position: absolute;
    right: 8%;
}
.leftment{
    margin-left: 1%;
    padding-top: 0.5%;
}
.rightment{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 3%;
 
    padding-bottom:0%;
    align-items: center;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.headbox{
    position: relative;
    border-bottom: 3px solid rgba(128, 128, 128, 0.329);
    width: 100%;
    height: 49%;
}
.top{
    width: 100%;
    height: 13%;
}
.logo{
    margin-top: 1%;
    margin-left: 0.5%;
}

.login{
    position: absolute;
    top: 2%;
    right: 3%;
}
.middlebox{
    width: 100%;
    height: 40%;
    border-bottom: 3px solid red;
    display: flex;
    flex-direction: row;
    font-size: 2rem;
}
.mentbox{
    width: 100%;
    height: 100%;
    margin-left: 14%;
    margin-top: 0.5%;
}
.mainbox{
    width: 100%;
    height: 84.5%;
}
.contentsbox{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 79%;
}
.notebox{
    position: relative;
    background-color: rgba(255, 195, 205, 0.781);
    bottom: 7%;
    width: 100%;
    height: 23%;
}
.addbox{
    margin-left: 1.5%;
    margin-top: 2%;
}
#calendarbox{
    width: 80%;
    height: 83%;
    margin-top: 1.5%;
    margin-left: 2%;
    border: solid red;
}
.notepad{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    position: absolute;
    overflow: auto; /* if amount of contents is over, it could create scroll bar */
    left: 16%;
    bottom: 8%;
    width: 80%;
    height: 85%;
    border-radius: 20px;
    background-color: rgb(255, 230, 230);
}
#character{
    position: absolute;
    left: 2%;
    bottom: 1%;
}