{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/login.css' %}" >
    <title>Document</title>
</head>
<body>

    <div class="title">
    <h1>로그인</h1>
    </div>

<form method="POST" action="{% url 'login:login' %}">
    {% csrf_token %}
    <div class="textbox" >
        
        <input name="username" type="username" class="form-control" id="exampleInputEmail1"placeholder="L.POINT통합회원 아이디 입력">

    </div> 
    <div class="textbox" >
        
            <input name="password" type="password" class="form-control" id="exampleInputPassword1"placeholder="8~15자리 영문+숫자+특수문자조합">
        
        </div> 
        <div class = 'question'>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href=''> 아이디/비밀번호 찾기   |</a><a href="{% url 'login:signup'%}">  회원가입</a>
        </div>
        
        <br><br>
          
        <br>
        <div class="wrapper">
            <button type="submit" class="button">로그인하기</button>
           </div> 
       
    </div> 
</form>

<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            alert("{{message.message}}");
        {% endfor %}
    {% endif %}


$(document).ready(function() {
    var placeholderTarget = $('.textbox input[type="username"], .textbox input[type="password"]');
    
@keyframes sheen {
    0% {
      transform: skewY(-45deg) translateX(0);
    }
    100% {
      transform: skewY(-45deg) translateX(12.5em);
    }
  }
  //포커스시
  placeholderTarget.on('focus', function(){
    $(this).siblings('label').fadeOut('fast');
  });

  //포커스아웃시
  placeholderTarget.on('focusout', function(){
    if($(this).val() == ''){
      $(this).siblings('label').fadeIn('fast');
    }
  });
});
placeholderTarget.each(function(){ if(!($(this).val() == '')){ $(this).siblings('label').css('display','none'); } });

placeholderTarget.on('textchange', function(){ $(this).siblings('label').fadeOut('fast'); });


</script>
</body>
</html>
