<h1>로그인</h1>

<form method="POST" action="{% url 'login:login' %}">
    {% csrf_token %}
    <div class="part" style="font-size: 20px; padding: 40px;">
        <span>Username:</span>
        <input name="username" type="username" class="form-control" id="exampleInputEmail1">

    </div> 
    <div class="part" style="font-size: 20px; padding: 40px;">
            <span>Password:</span>
            <input name="password" type="password" class="form-control" id="exampleInputPassword1">
        </div> 
    
        <br><br>
         <div class='loginbuttons'>
         <button type="submit" class="btn btn-light">login</button>
        </div>  
        <br>
        <p>아이디가 없으신가요? <a href="{% url 'login:signup'%}">회원가입</a></p>

       
    </div> 
</form>

<script type="text/javascript">
    {% if messages %}
        {% for message in messages %}
            alert("{{message.message}}");
        {% endfor %}
    {% endif %}
</script>