{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
    <title>회원가입</title>
</head>
<style>
    body{
        margin:40px 10px;
        padding:0;
        font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
        font-size: 14px;
    }
</style>
<body>
    <form method="POST" action="{% url 'login:signup' %}">
        <div class="container">
            {% csrf_token %}
            <div class = "topbox">
                <div class="logo">
                    <a class="firstlogo" href="{% url 'main:home' %}" target="blank"><img src="{% static '글자로고.png' %}" width="20%" ></a>
                </div>
            </div>
            <div class="middlebox">
                <div class="middlecontents">
                    <div class="f">회원가입</div>
                        <div class="textbox" style="border-radius: 70px; height: 40px;font-size: 20px; padding-left: 200px; padding-top: 150px; text-align: center; align-items: center;" >
                            <input name="username" type="username" class="form-control" id="exampleInputEmail1" placeholder="아이디 입력">
                    
                        </div>
                        <div class="textbox" style="font-size: 20px; height: 40px;padding-left: 200px; padding-top: 70px; text-align: center; align-items: center;" >
                            <input name="password1" type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호(8~15자리 영문+숫자+특수문자 조합)">
                        </div>
                        <div class="textbox" style="font-size: 20px; height: 40px;padding-left: 200px; padding-top: 70px; text-align: center; align-items: center;" >
                            <input name="password2" type="password" class="form-control" id="exampleInputPassword1" placeholder="비밀번호 확인">
                        </div>
                        <br>
                        <br>
                        <br>
                        <div class="go" style="text-align: center; padding: 40px">
                            <!-- <input type="submit" value="가입하기"> -->
                            <button type="submit" class="button"><span>가입하기</span></button>
                        </div>
                        
                </div>
            </div>
        
            <div class="undernav">
                <div class="left">
                    <a href="{% url 'main:home' %}" target="blank"> <img src="{% static 'LOTTE Calendar.png' %}" width="100%" height="100%"> </a>
                </div>
                <div class="right">
                    <a href="https://www.instagram.com/lotteon_official/" target="blank"><img src="{% static 'instagram.png' %}" width="90%" height="90%"  ></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                    <a href="{% url 'main:home' %}"><img src="{% static 'calendarimoji.png' %}" width="70%" height="70%"></a> 
                    <a href="https://www.facebook.com/TheLotteon/?hc_ref=ARTJli9seOFSXmNXthnaUnlLGDH5Fypz0GpY6CZ-lmokBpxUpv5kXk1ToeXeltUNSrQ&fref=nf&__tn__=kC-R"target="blank" ><img src="{% static 'facebook.png' %}" width="100%" height="100%"></a> &nbsp&nbsp    
                </div> 
            </div>
        </div>
    </form>
</body>
</html>