html,
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.container {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 93%;
	background-color: rgba(216, 215, 215, 0.603);
}
#title {
	font-weight: bold;
	position: absolute;
	left: 41%;
	top: 4.5%;
	font-size: 2.8rem;
}
.contents {
	display: flex;
	flex-direction: row;
	border-radius: 9%;
	position: absolute;
	top: 16%;
	width: 75%;
	height: 70%;
	background-color: white;
}
.bottomnav {
	position: fixed;
	bottom: 0;
	height: 7%;
	width: 100%;
	align-items: center;
	color: white;
	background-color: red;
	display: flex;
	flex-direction: row;
}
.logo2 {
	position: absolute;
	right: 8%;
}
.leftment {
	margin-left: 1%;
	padding-top: 0.5%;
}
.rightment {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 3%;
	padding-bottom: 0%;
	align-items: center;
}
.information {
	width: 50%;
	height: 100%;
}
#product {
	position: absolute;
	left: 10%;
	top: 7%;
	font-size: 2.8rem;
	font-weight: bold;
}
.productimg {
	position: absolute;
	top: 25%;
	left: 8%;
	width: 30%;
	height: 40%;
}
.productname {
	font-size: 2rem;
	font-weight: bold;
	position: absolute;
	top: 72%;
	left: 14%;
}

.selectzone {
	margin-top: 5%;
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
}
.price {
	font-size: 1.5rem;
	font-weight: lighter;
	position: absolute;
	top: 85%;
	left: 14%;
}
.finishdate {
	font-size: 1.3rem;
	margin-bottom: 4%;
}
.selectoption1 {
	margin-bottom: 4%;
	font-size: 1.3rem;
}
.selectoption2 {
	margin-bottom: 4%;
	font-size: 1.3rem;
}
.submit {
	background-color: white;
	margin-top: 3%;
	width: 50%;
	height: 5%;
}
