{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <title>My page</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <button id="menuimg"></button>
            <a class="logo1" href="{% url 'main:home' %}" target="blank"> <img src="../static/LOTTE Calendar.png" width="100%" height="100%"> </a>
            <span id="logo2"> My Page </span>
            <a href="{% url 'cart:cart_detail' %}"><button id="basketimg"></button></a>
        </div>

        <div class="middlebox">
            <div class="contents">
                <img id="mypagecharacter" src="../static/마이페이지캐릭터.png" width="18%" height="25%"><br>
                <div class="charactername"> 롯캘이 </div>
                <div class="email">Lottecalendar@lotte.com </div>

                <div class="notice">
                    <a id=emoji href="{% url 'mypage:notice' %}"><img src="../static/공지사항.png" width="100%" height="100%"></a> 
                    <a id=emoji href="{% url 'mypage:event' %}"><img src="../static/이벤트.png" width="100%" height="100%"></a> 
                    <a id=emoji href="{% url 'main:home' %}"><img src="../static/나의캘린더.png" width="100%" height="100%"></a> 
                    <a id=emoji href="{% url 'cart:cart_detail' %}"><img src="../static/한 눈에.png" width="100%" height="100%"></a>
                </div>
                <div class="noticement">
                    <a id=emoji2 href="{% url 'mypage:notice' %}"> 공지사항 </a> &nbsp&nbsp&nbsp&nbsp
                    <a id=emoji2 href="{% url 'mypage:event' %}"> 이벤트 </a> &nbsp&nbsp&nbsp
                    <a id=emoji2 href="{% url 'main:home' %}"> 나의 캘린더 </a>
                    <a id=emoji2 href="{% url 'cart:cart_detail' %}"> 나의 장바구니 </a>
                </div>
            </div>

        </div>
        <div class="bottomnav">
            <div class="leftment">
                <a href="{% url 'main:home' %}" target="blank"> <img src="../static/LOTTE Calendar.png" width="100%" height="100%"> </a>
            </div>
            <div class="rightment">
                <a href="{% url 'cart:cart_detail' %}"><img src="../static/장바구니.png" width="50%" height="50%"></a> 
                <a href="https://www.instagram.com/lotteon_official/" target="blank"><img src="../static/instagram.png" width="100%" height="100%"  ></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
                <a href="https://www.facebook.com/TheLotteon/?hc_ref=ARTJli9seOFSXmNXthnaUnlLGDH5Fypz0GpY6CZ-lmokBpxUpv5kXk1ToeXeltUNSrQ&fref=nf&__tn__=kC-R"target="blank" >
                    <img src="../static/facebook.png" width="150%" height="150%"></a> &nbsp&nbsp    
            </div>   
        </div>
           
    </div>


    
</body>
</html>