{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/mypage.css' %}">
    <title>My page</title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <button id="menuimg"></button>
            <a class="logo1" href="https://www.lotteon.com" target="blank"> <img src="../static/LOTTE Calendar.png" width="170px" height="30px"> </a>
            <span id="logo2"> My Page </span>
            <button id="basketimg"></button>
        </div>

        <div class="middlebox">
            <div class="contents">
                <img id="mypagecharacter" src="../static/마이페이지캐릭터.png" width="150px" height="150px">
            </div>
        </div>

    </div>

    <div class="bottomnav">
        <div class="leftment">
            <a href="https://www.lotteon.com" target="blank"> <img src="../static/LOTTE Calendar.png" width="140px" height="15px"> </a>
        </div>
        <div class="rightment">
            <a href="https://www.instagram.com/lotteon_official/" target="blank"><img src="../static/instagram.png" width="25px" height="15px"></a> &nbsp&nbsp&nbsp&nbsp
            <a href="https://www.facebook.com/TheLotteon/?hc_ref=ARTJli9seOFSXmNXthnaUnlLGDH5Fypz0GpY6CZ-lmokBpxUpv5kXk1ToeXeltUNSrQ&fref=nf&__tn__=kC-R"target="blank" >
                <img src="../static/facebook.png" width="13px" height="15px"></a> &nbsp&nbsp
        </div>
        <div class="logo2" ><a href=""> <img src="../static/calendarimoji.png" width="30px" height="25px"></a></div>
                    
        
    </div>

    
</body>
</html>