{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/notice.css' %}">
    <title> 공지사항 </title>
</head>
<body>
    <div class="container">
        <div class="topnav">
            <button id="menuimg"></button>
            <a class="logo1" href="{% url 'main:home' %}" > <img src="{% static 'LOTTE Calendar.png' %}" width="100%" height="100%"> </a>
            <span id="logo2"> 공지사항 </span>
            <button id="mypageimg"></button>
        </div>

        <div class="contents">
            <div class="ui"><img src="{% static '공지사항ui.png' %}" width="120%"></div>
        </div>
    </div>

    <div class="bottomnav">
        <div class="leftment">
            <a href="{% url 'main:home' %}" > <img src="{% static 'LOTTE Calendar.png' %}" width="100%" height="100%"> </a>
        </div>
        <div class="rightment">
            <a href="{% url 'cart:cart_detail' %}"><img src="{% static '장바구니.png' %}" width="50%" height="50%"></a> 
            <a href="https://www.instagram.com/lotteon_official/" target="blank"><img src="{% static 'instagram.png' %}" width="100%" height="100%"  ></a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 
            <a href="https://www.facebook.com/TheLotteon/?hc_ref=ARTJli9seOFSXmNXthnaUnlLGDH5Fypz0GpY6CZ-lmokBpxUpv5kXk1ToeXeltUNSrQ&fref=nf&__tn__=kC-R"target="blank" >
                <img src="{% static 'facebook.png' %}" width="150%" height="150%"></a> &nbsp&nbsp    
        </div>   
    </div>
</body>
</html>