body{
  width:100%;


}
.title{
  text-align: center;
  /* font-family: "12롯데마트드림Bold"; */
  font-size: 150%;
  padding-top: 3%;
}
.form-control{
  /* font-family: "12롯데마트드림light"; */
  font-size: 70%;
  padding-bottom: 20%;
}
.part{
  
}
.question{
  color: "black";
  /* font-family: "12롯데마트드림light"; */
}
.where {
  display: block;
  margin: 25px 15px;
  font-size: 11px;
  color: #000;
  text-decoration: none;
  font-family: verdana;
  font-style: italic;
}

.textbox {
      text-align: center; 
      width: 15%;
      text-align: center;
      /* font-family: "12롯데마트드림Bold"; */
      font-size: 200%;
      align-items: center;
      padding-left:34%;
      padding-right: ;
      height: 0.5%;
  }

.textbox label {
  position :absolute;
  /* input 요소의 border-left 설정값 만큼 */
   /* input 요소의 padding 값 만큼 */
  color: rgb(190, 188, 188);
  cursor: text;
  padding-top: 20%;
  padding-bottom: 50%;

}

.textbox input[type="username"],  .textbox input[type="password"] 
{
  padding-top: 10%;
  padding-bottom: 10%;
  width: 200%;  /* 원하는 너비 설정 */ 
  height: 100%;  /* 높이값 초기화 */
  line-height : normal;  /* line-height 초기화 */
  padding: .8em .5em; /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
  border:rgb(195, 193, 193);
  border-radius: 20px;  /* iSO 둥근모서리 제거 */
   /* 포커스시 발생하는 효과 제거를 원한다면 */
    /* 브라우저별 기본 스타일링 제거 */
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(230, 228, 228);
  /* padding-left: 200px; */

}


@keyframes sheen {
  0% {
    transform: skewY(-45deg) translateX(0);
  }
  100% {
    transform: skewY(-45deg) translateX(12.5em);
  }
}

.wrapper {
  display: block;
  position: absolute;
  padding-top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.button {
  padding-top:15px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right:70px;
  align-items: center;
  
  text-decoration: none;
  background-color: rgb(253, 31, 31);
  border: 2px solid rgb(253, 31, 31);
  font-size: 30px;
  font-family: "12롯데마트드림light";
  display: inline-block;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  color:white;
  
  }
}


.loginbuttons{
  text-align: center;
}
.question{
  text-align: center;
}

.undernav{
position: fixed;
bottom: 0;
height: 7%;
width: 100%;
align-items: center;
color:white;
background-color: red;
display: flex;
flex-direction: row;
}
.left{
margin-left: 1%;
padding-top: 0.5%;
}
.right{
display: flex;
flex-direction: row;
position: absolute;
right: 3%;
padding-bottom:0%;
align-items: center;
}
.logo{
margin-top: 1%;
margin-left: 0.5%;
}