html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
a:hover,
a:active {
	text-decoration: none;
}

#menuimg {
	position: absolute;
	left: 8%;
	width: 3.8%;
	height: 5.5%;
	background-image: url("../menu.png");
	background-size: cover;
	border: 0;
	outline: 0;
}
.bottomnav {
	position: fixed;
	bottom: 0;
	height: 7%;
	width: 100%;
	align-items: center;
	color: white;
	background-color: red;
	display: flex;
	flex-direction: row;
}
.logo2 {
	position: absolute;
	right: 8%;
}
.leftment {
	margin-left: 1%;
	padding-top: 0.5%;
}
.rightment {
	display: flex;
	flex-direction: row;
	position: absolute;
	right: 3%;

	padding-bottom: 0%;
	align-items: center;
}
.container {
	width: 100%;
	height: 180%;
	display: flex;
	flex-direction: column;
}
.headbox {
	position: relative;
	border-bottom: 3px solid rgba(128, 128, 128, 0.329);
	width: 100%;
	height: 49%;
}
.top {
	width: 100%;
	height: 13%;
}
.logo {
	margin-top: 1%;
	margin-left: 0.5%;
}
.login {
	position: absolute;
	top: 2%;
	right: 3%;
}
.middlebox {
	width: 100%;
	height: 40%;
	border-bottom: 3px solid red;
	display: flex;
	flex-direction: row;
	font-size: 2rem;
}
.mentbox {
	width: 100%;
	height: 100%;
	margin-left: 14%;
	margin-top: 0.5%;
}
.notebox {
	position: relative;
	background-color: rgba(255, 195, 205, 0.781);
	bottom: 7%;
	width: 100%;
	height: 23%;
}
.addbox {
	margin-left: 1.5%;
	margin-top: 2%;
}
#calendarbox {
	width: 80%;
	height: 83%;
	margin-top: 1.5%;
	margin-left: 2%;
	border: solid red;
}
.notepad {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2.5rem;
	position: absolute;
	left: 16%;
	bottom: 8%;
	width: 80%;
	height: 85%;
	border-radius: 20px;
	background-color: rgb(255, 230, 230);
}
#character {
	position: absolute;
	left: 2%;
	bottom: 1%;
}
.productlist {
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 90%;
	margin-left: 15%;
	margin-top: 2.5%;
}
.mainbox {
	width: 100%;
	height: 160%;
	display: flex;
	flex-direction: row;
}
.addbox {
	position: fixed;
	width: 15%;
	height: 50%;
}
.subscribes {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 100%;
	height: 50%;
}
.deliveries {
	display: flex;
	flex-direction: column;
	overflow: auto;
	width: 100%;
	height: 50%;
}
#lotteonlogo {
	margin-left: 5%;
}
#lotteonment {
	color: red;
	font-size: 1.3rem;
	position: absolute;
	top: 23.5%;
	left: 32%;
}
#lotteonlogo2 {
	margin-left: 5%;
}
#lotteonment2 {
	color: blue;
	font-size: 1.3rem;
	position: absolute;
	top: 97.5%;
	left: 32%;
}
.subscribestop {
	width: 100%;
	height: 10%;
}
.deliveriestop {
	width: 100%;
	height: 10%;
}
.subscribesmain {
	position: relative;
	display: flex;
	flex: row;

	margin-left: 5%;
	width: 90%;
	height: 28%;
}
.productimg {
	width: 20%;
	height: 100%;
}
.productinfo {
	padding-left: 3%;
	width: 50%;
	height: 100%;
}
.heart {
	width: 10%;
	height: 100%;
}
#heartlogo {
	margin-top: 60%;
	margin-left: 12%;
}
.button {
	width: 20%;
	height: 100%;
}
#subscribeslogo {
	margin-top: 30%;
}
.deliveriesmain {
	position: relative;
	display: flex;
	flex: row;

	margin-left: 5%;
	width: 90%;
	height: 28%;
}
.productimg1 {
	width: 20%;
	height: 100%;
}
.productinfo1 {
	padding-left: 3%;
	width: 50%;
	height: 100%;
}
.heart1 {
	width: 10%;
	height: 100%;
}
#heartlogo1 {
	margin-top: 60%;
	margin-left: 12%;
}
.button1 {
	width: 20%;
	height: 100%;
}
#deliverieslogo {
	margin-top: 30%;
}
