{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>Main</title>
</head>
<body>

    <div class="container">

        <div class="top">
            <div class="headbox">
                <div class="logo">
                    <a class="logo1" href="https://www.lotteon.com" target="blank"><img src="../static/글자로고.png" width="20%" ></a>
                </div>
                <div class="login">
                    <a href="">로그인</a> &nbsp <a href="">회원가입</a> &nbsp <a href="">마이페이지</a> &nbsp <a href="">고객센터</a>
                </div>
            </div>
            <div class="middlebox">
                <button id="menuimg"></button>
                <nav class="mentbox">
                    <a href=""><img src="../static/이달의 구독.png" width="9%" height="82%"></a> &nbsp 
                    <a href="https://www.lotteon.com"><img src="../static/롯데ON몰.png" width="8%" height="82%"></a> &nbsp 
                    <a href="http://www.lottesuper.co.kr/handler/Index-Start"><img src="../static/롯데Fresh.png" width="9%" height="82%"></a>
                </nav>  
            </div>
        </div>

        <div class="mainbox">
            <div class="contentsbox">
                <div class="addbox">
                    <a href="https://www.lotteon.com"><img src="../static/롯캘이 메인 광고.png" width="100%" height="80%"></a>
                </div>
                <div id="calendarbox" > 
                    캘린더 코드 들어갈 자리
                </div>
            </div>
            <div class="notebox" >
                <img id="character" src="../static/롯데 on 캐릭터.png" width="13%" height="88%">
                <div class="notepad">
                    <span> 로그인을 하시면 확인할 수 있습니다 ! </span>
                </div>
            </div>
        </div>

        
        <div class="bottomnav">
            <div class="leftment">
                <a href="https://www.lotteon.com" target="blank"> <img src="../static/LOTTE Calendar.png" width="140px" height="15px"> </a>
            </div>
            <div class="rightment">
                <a href="https://www.instagram.com/lotteon_official/" target="blank"><img src="../static/instagram.png" width="25px" height="15px"></a> &nbsp&nbsp&nbsp&nbsp
                <a href="https://www.facebook.com/TheLotteon/?hc_ref=ARTJli9seOFSXmNXthnaUnlLGDH5Fypz0GpY6CZ-lmokBpxUpv5kXk1ToeXeltUNSrQ&fref=nf&__tn__=kC-R"target="blank" >
                    <img src="../static/facebook.png" width="13px" height="15px"></a> &nbsp&nbsp
            </div>
            <div class="logo2" ><a href=""> <img src="../static/calendarimoji.png" width="30px" height="25px"></a></div>
                        
            
        </div>

    </div>

</body>
</html>