{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type="text/css" href='../static/css/home.css' >
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div class="top">
            <div class="headbox">
                <div class="logo">
                    <a class="logo1" href="https://www.lotteon.com" target="blank"><img src="../static/image/글자로고.png" width="350px" height="60px"></a>
                </div>
                <div class="login">
                    <a href="{% url 'login:login' %}">로그인</a> &nbsp <a href="">회원가입</a> &nbsp <a href="">마이페이지</a> &nbsp <a href="">고객센터</a>
                </div>
            </div>
            <div class="middlebox">
                <button id="menuimg"></button>
                <nav class="mentbox">
                    <a href=""><img src="../static/image/이달의 구독.png" width="90px" height="30px"></a> &nbsp 
                    <a href="https://www.lotteon.com"><img src="../static/image/롯데ON몰.png" width="85px" height="30px"></a> &nbsp 
                    <a href="http://www.lottesuper.co.kr/handler/Index-Start"><img src="../static/image/롯데Fresh.png" width="85px" height="30px"></a>
                </nav>  
            </div>
        </div>

        <div class="mainbox">
            <div class="contentsbox">
                <div class="addbox">
                    <a href="https://www.lotteon.com"><img src="../static/image/롯캘이 메인 광고.png" width="200px" height="500px"></a>
                </div>
                <div class="calendarbox" >

                </div>

            </div>
            <div class="notebox">

            </div>
        </div>
        
        <div class="bottomnav">
            <div class="leftment">
                <a href="https://www.lotteon.com" target="blank"> <img src="../static/image/LOTTE Calendar.png" width="140px" height="15px"> </a>
            </div>
            <div class="rightment">
                <a href="https://www.instagram.com/lotteon_official/" target="blank"><img src="../static/image/instagram.png" width="25px" height="15px"></a> &nbsp&nbsp&nbsp&nbsp
                <a href="https://www.facebook.com/TheLotteon/?hc_ref=ARTJli9seOFSXmNXthnaUnlLGDH5Fypz0GpY6CZ-lmokBpxUpv5kXk1ToeXeltUNSrQ&fref=nf&__tn__=kC-R"target="blank" >
                    <img src="../static/image/facebook.png" width="13px" height="15px"></a> &nbsp&nbsp
            </div>
            <div class="logo2" ><a href=""> <img src="../static/image/calendarimoji.png" width="30px" height="25px"></a></div>
                        
            
        </div>

    </div>

</body>
</html>